<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- related to the invoice header -->
    <header>
        <div class="row">
            <div class="logo">
                <img src="{{logo}}" alt="LOGO">
            </div>
            <div class="invoice-header">
                <table>
                    <tbody>
                        <tr>
                            <td> Serie </td>
                            <td> {{serie}} </td>
                        </tr>
                        <tr>
                            <td> Folio </td>
                            <td> {{serie}} </td>
                        </tr>
                        <tr>
                            <td> Fecha y Hora </td>
                            <td> {{fecha}} </td>
                        </tr>
                        <tr>
                            <td> Forma de pago </td>
                            <td> {{formapago}} </td>
                        </tr>
                        <tr>
                            <td> Número de certificado </td>
                            <td> {{numcertificado}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th>
                            Emisor
                        </th>
                    </tr>
                </thead>
                {{#with emisor}}
                <tbody>
                    <tr>
                        <td> RFC </td>
                        <td> {{rfc}} </td>
                    </tr>
                    <tr>
                        <td> Nombre </td>
                        <td> {{nombre}} </td>
                    </tr>
                    <tr>
                        <td> Regimen Fiscal </td>
                        <td> {{regimenfiscal}} </td>
                    </tr>
                </tbody>
                {{/with}}
            </table>
            <table>
                <thead>
                    <tr>
                        <th>
                            Receptor
                        </th>
                    </tr>
                </thead>
                {{#with receptor}}
                <tbody>
                    <tr>
                        <td> RFC </td>
                        <td> {{rfc}} </td>
                    </tr>
                    <tr>
                        <td> Nombre </td>
                        <td> {{nombre}} </td>
                    </tr>
                    <tr>
                        <td> Regimen Fiscal </td>
                        <td> {{regimenfiscal}} </td>
                    </tr>
                    <tr>
                        <td> Código Postal </td>
                        <td> {{codigopostal}} </td>
                    </tr>
                    <tr>
                        <td> Dirección </td>
                        <td> {{direccion}} </td>
                    </tr>
                    <tr>
                        <td> Ciudad </td>
                        <td> {{ciudad}} </td>
                    </tr>
                </tbody>
                {{/with}}
            </table>
        </div>
    </header>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th> Clave </th>
                    <th> Cantidad </th>
                    <th> Clave de unidad </th>
                    <th> Unidad </th>
                    <th> Descripcion </th>
                    <th> Valor unitario </th>
                    <th> Importe </th>
                    <th> Objeto Impuesto </th>
                </tr>
            </thead>
            <tbody>
                {{#each conceptos}}
                <tr>
                    <td> {{claveprodservicio}} </td>
                    <td> {{cantidad}} </td>
                    <td> {{claveunidad}} </td>
                    <td> {{unidad}} </td>
                    <td> {{descripcion}} </td>
                    <td> ${{valorunitario}} </td>
                    <td> ${{importe}} </td>
                    <td> {{objetoimpuesto}} </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="field">
            <div class="legend">
                Cantidad con letras:
            </div>
            <div class="data">
                ***
                {{letras}} Pesos Mxn
                ***
            </div>
        </div>
        {{#with impuestos}}
        <div class="traslados">
            <div class="header" style="margin: 0;">
                Impuestos Trasladados
            </div>
            <!-- {{#each traslados}} -->
            <table>
                <thead>
                    <tr>
                        <th> Base </th>
                        <th> Impuesto </th>
                        <th> Tipo Factor </th>
                        <th> Tasa Cuota </th>
                        <th> Importe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{base}} </td>
                        <td> {{impuesto}} </td>
                        <td> {{tipofactor}} </td>
                        <td> {{tasaocuota}} </td>
                        <td> ${{importe}} </td>
                    </tr>
                </tbody>
            </table>
            {{/each}}
        </div>
        <!-- {{/with}} -->
        <div class="tfooter">
            <div class="field tax">
                <div class="legend">
                    Subtotal
                </div>
                <div class="data">
                    ${{subtotal}}
                </div>
            </div>
            <div class="field tax">
                <div class="legend">
                    Impuesto
                </div>
                <div class="data">
                    ${{impuestos.totalimpuestostrasladados}}
                </div>
            </div>
            <div class="field tax">
                <div class="legend">
                    Total
                </div>
                <div class="data">
                    ${{total}}
                </div>
            </div>
        </div>
    </div>

    <div class="legal">
        <div class="information">
            <div class="field">
                <div class="legend">Sello digital del que lo expide</div>
                <div class="data">{{sello}}</div>
            </div>
            <div class="field">
                <div class="legend">Certificado</div>
                <div class="data">{{certificado}}</div>
            </div>
            <div class="field">
                <div class="legend">Número de certificado</div>
                <div class="data">{{numcertificado}}</div>
            </div>
        </div>
        <div class="qr">
            <img src="{{qrcontent}}" alt="Código QR">
        </div>
    </div>
    <div class="observaciones">
        <div class="header">
            Observaciones
        </div>
        {{#with formatos}}
        <p>
            {{observaciones}}
        </p>
        {{/with}}
    </div>
    <style>
        
    </style>
</body>

</html>